:root {
  --dark-blue: #0D0259;
  --text-orange: #F2935C;
  --text-top: #010440;
  --back: #f2f2f2;

}

* {
  margin: 0;
  padding: 20px;
}

header{
  margin: 0rem;
  grid-column: 1/3;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  background-color: var(--dark-blue);
}

body {
  background-color: var(--back);
  display: grid;
  grid-template-columns: 2fr 1fr;
  
}


.link-top {
  grid-column: 1/5;
  color: var(--text-orange);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  background-color: var(--dark-blue)
}

.topo {
  grid-column: 1/3;
  display: flex;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 100px;
  color: var(--text-top);
  justify-content: center;
}

.img-topo {
  width:10%;
  
}

.caixa-master {
  background-color: #fff;
  padding: 1.5rem;
  grid-column: 1 2;
  margin-left: 5px;
  width: 940px;
  height: 1166px;
  
}


.caixa-post {
  display: grid;
  grid-column: 2/3;
  background-image: url('/Tblog/img/img1.jpg');
  background-size: cover;
  margin: 0rem 0rem 1rem 0rem;
  color: #fff;
  border-radius: 15px;  
  width: 900px;
  height: 325px
  
}

.caixa-master,
.caixa-post{
  align-items:flex-star;
}

.text {
  margin: 1rem;
  font-size: 0.9rem;
}

.usuario {
  color: rgba(255, 255, 255, 0.541);
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 0;
  padding-top: 0;

}

.titulo {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  width: 668px;
  height: 120px;
  padding-bottom: 0;
  
}

.comentario {
  text-align: right;
  font-size: 1.5rem;
  text-decoration: none;
  margin-top: 0;
  padding-top: 0;
  color: #fff
}

.caixa-lateral {
  grid-column: 2;
  background-color: #fff;
  margin-left: 10px;
  list-style: none;
}

.text-title {
  color: var(--text-orange);
  font-weight: bold;
  font-size: 30px;
}

.proxima-pagina{
  text-align: right;
  display: grid;
  grid-column: 2 / 3;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-orange);
}

.comentario-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.7);

  position: fixed;
  top:0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity:0;
  visibility: hidden; 
}

.comentario-overlay.active {
  opacity:1;
  visibility: visible;
}

#comentarios {
  width: 750px;
  height: 100px;
  border: 0.1px black solid;
  
  margin: 0 auto;

  display: grid;
  grid-column: 2 / 3;
}

.h2-comentarios {
  padding-top: 0;
  padding-bottom: 0;
}

.caixa-overlay {
  background-color:azure;
  box-sizing: 1800px border-box;
 }

.fechar {
  text-decoration: none;
  color: var(--text-orange);
  align-items: center;
  text-align: right;
  display: grid;
  grid-column: 2 / 3;
  padding-top: 0;
}

.box-comentario {
  display: flex;
  padding-top: 0;
  width: 840px;
  height: 141px;
}

.foto-e-usuario {
  padding-top: 0;
}

#usuario-foto, #usuario-nome{
  width: 100px;
  height: 100px;
  padding-top: 0;
  padding-bottom: 0;
}

#usuario-nome{
  flex-direction: column;
}

#foto-e-usuario {
  padding: 0.1rem; 
}

